ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

li {
    float: left;
}

li a {
    display: block;
    color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
}

li a:hover {
    cursor: default;
    color: white;
    
}

body{
    background-color: #111;
}

.right{
    float: right;
}

.text{
    color: lightgray;
}

.citation {
    font-size: small;
}

.hanging-indent {
    padding-left: 50px;
    text-indent: -50px;
}

.indent {
    text-indent: 50px;
}

.collapsible {
    background-color: #111;
    color: lightgrey;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #111;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #111;
  }
